<div class="modal">

    <div class="modal-content">

        <span class="close" (click)="closeModal()">
            &times;
        </span>

        <h2>Agregar Producto</h2>

        <form #productForm="ngForm">

            <!-- NOMBRE -->
            <input
                type="text"
                placeholder="Nombre del producto"
                name="nombre"
                [(ngModel)]="producto.nombre"
                required
                #nombre="ngModel">

            <div class="error"
                *ngIf="nombre.invalid && nombre.touched">

                El nombre es obligatorio

            </div>

            <!-- CATEGORIA -->
            <input
                type="text"
                placeholder="Categoría"
                name="categoria"
                [(ngModel)]="producto.categoria"
                required
                #categoria="ngModel">

            <div class="error"
                *ngIf="categoria.invalid && categoria.touched">

                La categoría es obligatoria

            </div>

            <!-- PRECIO -->
            <input
                type="number"
                placeholder="Precio"
                name="precio"
                [(ngModel)]="producto.precio"
                required
                min="1"
                #precio="ngModel">

            <div class="error"
                *ngIf="precio.invalid && precio.touched">

                El precio debe ser mayor a 0

            </div>

            <!-- STOCK -->
            <input
                type="number"
                placeholder="Stock"
                name="stock"
                [(ngModel)]="producto.stock"
                required
                min="0"
                #stock="ngModel">

            <div class="error"
                *ngIf="stock.invalid && stock.touched">

                El stock no puede ser negativo

            </div>

            <!-- BOTON -->
            <button
                type="button"
                [disabled]="productForm.invalid"
                (click)="saveProduct()">

                Guardar Producto

            </button>

        </form>

    </div>

</div>